<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-auto">
            <h1>Dojo Survey</h1>
        </div>
        <div class="row">
            <div class="col">
                <form action="/ninja" method="POST">
                    <div class="form-group">
                        <label for="name" id="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="location" id="email">Dojo Location:</label>
                        <select class="form-control" name="location" id="location">
                            <option value="San Jose">San Jose</option>
                            <option value="Bellevue">Bellevue</option>
                            <option value="Los Angeles">Los Angeles</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="language" id="language">Favorite Language</label>
                        <select class="form-control" name="language" id="language">
                            <option value="Python">Python</option>
                            <option value="Java">Java</option>
                            <option value="C++">C++</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Course Type:</label>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="course" id="full" value="Full Time" checked>
                            Full Time
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="course" id="part" value="Part Time" checked>
                            Part Time
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="course" id="online" value="Online" checked>
                            Online
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comments:</label>
                        <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Available Operating Systems:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="OS" id="os1" value="Mac OS">
                            <label class="form-check-label">Mac OS</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="OS" id="os2" value="Windows">
                            <label class="form-check-label">Windows</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="OS" id="os3" value="Linux">
                            <label class="form-check-label">Linux</label>
                        </div>
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>